<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
    <title>
        <%- title %> - THSCSLab</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="author" content="JieJiSS" />
    <meta name="description" content="The homepage of Tsinghua Highschool Computer Science Laboratory" />
    <meta name="keywords" content="THSITG, THSCSLab, Tsinghua Highschool, 清华附中, 高等项目研究实验室, 高研实验室, 高研" />
    <meta name="robots" content="index, follow, noarchive" />
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/atom-one-light.css">
    <script src="../assets/js/jquery-3.2.1.min.js" type="application/javascript"></script>
    <script src="../assets/js/highlight.pack.js" type="application/javascript"></script>
    <script type="application/javascript">
        function loaded() {
            var titles = $("#main h1, #main h2");
            var sides = $("ul.sidemenu#sides");
            for (var i = 0; i < titles.length; i++) {
                var n = titles.get(i).innerText.replace(/\s/g, "").toLowerCase();
                titles.get(i).parentNode.insertBefore($("<a>").prop("name", n).get(0), titles[i]);
                var li = $('<li><a href="#' + n + '">');
                li.get(0).childNodes[0].innerText = titles.get(i).innerText;
                if (titles.get(i).nodeName.toLowerCase() === "h2") {
                    $(li.get(0)).attr("class", "h2-side");
                }
                li.appendTo(sides);
            }
        }
        if (window.attachEvent) {
            window.attachEvent("onload", loaded);
        } else if (window.addEventListener) {
            window.addEventListener("DOMContentLoaded", loaded, false);
        } else {
            window.onload = loaded;
        }
    </script>
    <!--piccolo-->
    <!--<link rel="stylesheet" href="../assets/css/bootstrap.css">-->
    <link rel="stylesheet" href="../assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="../assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="../assets/css/flexslider.css">
    <!--<link rel="stylesheet" href="../assets/css/custom-styles.css">-->
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="../assets/css/style-ie.css"/>
    <![endif]-->
    
    <!-- JS
    ================================================== -->
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/jquery.prettyPhoto.js"></script>
    <script src="../assets/js/jquery.flexslider.js"></script>
    <script src="../assets/js/jquery.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });
            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });
        });

        window.addEventListener("load", function () {
            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</head>

<body>
    <!-- Wrap -->
    <div id="wrap">
        <!-- Header -->
        <div id="header">
            <h1 id="logo">THSCSLab
                <span class="less-gray" style="font-weight: normal; font-size: 0.6em; padding-bottom: 5px;">高研实验室</span>
            </h1>
            <h2 id="slogan" style="font-weight: normal; font-size: 100%;">纸曲笔伏霍音起，疑似圣驾过丽沟。</h2>
        </div>
        <div id="menu">
            <ul style="font-weight: normal; font-size: 111%;">
                <li id="current">
                    <a href="../index.html">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="../download.html">
                        <span>Downloads</span>
                    </a>
                </li>
                <li>
                    <a href="../about.html">
                        <span>About</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--Content Wrap -->
        <div id="content-wrap">
            <div id="main">
                <h1>Description</h1>
                <p id="description">
                    <%- description %>
                </p>
                <p class="post-footer">
                    <span class="date">发布日期：
                        <span id="post_time">
                            <%- post_date %>
                        </span>
                    </span>
                    <span class="comments">文章作者：
                        <span id="author">
                            <%- author %>
                        </span>
                    </span>
                </p>
                <div id="content">
                    <%- main_html %>
                </div>
            </div>
            <script type="application/javascript">
                var ctx = location.origin;
                $("div#main").ready(function () {
                    $('pre code').each(function (_, block) {
                        hljs.highlightBlock(block);
                    });
                });
            </script>
            <div id="sidebar" style="margin-top: 10px;">
                <h1>文章目录</h1>
                <ul class="sidemenu" id="sides">
                    <noscript style="padding-left: 3px;">JavaScript code support is required.</noscript>
                </ul>
            </div>
            <!--End content-wrap-->
        </div>
        <!--<script src="../assets/js/jquery.xpath.js"></script>-->
        <script>
        var htmlStr = '<div class="container">\n\
                <div class="row headline">\n\
                    <!-- Begin Headline -->\n\
                    <div style="width: <%- Math.min(imageSetting.width || 600, 660) %>px; float: left; min-height: 1px; margin-left: <%- (671 - Math.min(imageSetting.width || 600, 660)) / 2 + 30 %>px; margin-top: 5px">\n\
                        <div class="flexslider">\n\
            \n\
                            <div class="flex-viewport" style="overflow: hidden; position: relative;">\n\
                                <ul class="slides" style>\n\
                                    <% for(var i = 0; i < images.length; i++) {%>\
                                        <% if(i === 0) {%>\n\
                                            <li class="clone" style>\n\
                                                <a>\n\
                                                    <img src="../assets/images/gallery/<%- _title %>/<%- images[i] %>" alt>\n\
                                                </a>\n\
                                            </li>\n\
                                        <% } else { %>\n\
                                            <li class>\n\
                                                <a>\n\
                                                    <img src="../assets/images/gallery/<%- _title %>/<%- images[i] %>" alt>\n\
                                                </a>\n\
                                            </li>\n\
                                        <% } %>\
                                    <% } %>\n\
                                </ul>\n\
                            </div>\n\
                            <ul class="flex-direction-nav">\n\
                                <li>\n\
                                    <a class="flex-prev" href="#">Previous</a>\n\
                                </li>\n\
                                <li>\n\
                                    <a class="flex-next" href="#">Next</a>\n\
                                </li>\n\
                            </ul>\n\
                        </div>\n\
                    </div>\n\
            \n\
                </div>\n\
                <!-- End Headline -->\n\
            </div>';
        $(htmlStr).insertAfter($("div#content <%- imageSetting.insertAfter || '' %>").get(<%- imageSetting.nodeIndex%>));
        </script>
        <!-- Footer -->
        <div id="footer">
            <p>
                <span style="padding-right: 45px;">&copy; 2017 THSCSLab</span>
                <a href="../index.html">Home</a> |
                <a href="http://validator.w3.org/check/referer">XHTML</a> |
                <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
                <a href="http://styleshouts.com">Style</a>
            </p>
        </div>
        <!-- END Wrap -->
    </div>
    <script>
                function slideMenu() {
                    var y = window.pageYOffset;
                    var bar = document.getElementById("sidebar");
                    bar.style = "margin-top: " + (10 - y > -120 ? 10 - y : -120) + "px";
                }
                window.addEventListener("scroll", slideMenu);
    </script>
</body>

</html>