<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
    <title>
    <%- title %> - THSCSLab</title>
    <% include style_script.html %>
        <script type="application/javascript">
        var TITLE = "<%- _title %>";
    </script>
    <!--piccolo-->
    <!--<link rel="stylesheet" href="/assets/css/bootstrap.css">-->
    <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="/assets/css/flexslider.css">
    <!--<link rel="stylesheet" href="/assets/css/custom-styles.css">-->
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link rel="stylesheet" href="/assets/css/style-ie.css"/>
    <![endif]-->
    
    <!-- JS
    ================================================== -->
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.prettyPhoto.js"></script>
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/jquery.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });
            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });
        });

        window.addEventListener("load", function () {
            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</head>

<body>
    <!-- Wrap -->
    <div id="wrap">
        <!-- Header -->
        <% include header.html %>
        <!--Content Wrap -->
        <div id="content-wrap">
            <div id="main">
                <h1>Description</h1>
                <p id="description">
                    <%- description %>
                </p>
                <p class="post-footer">
                    <span class="date">发布日期：
                        <span id="post_time">
                            <%- post_date %>
                        </span>
                    </span>
                    <span class="comments">文章作者：
                        <span id="author">
                            <%- author %>
                        </span>
                    </span>
                </p>
                <div id="content">
                    <%- main_html %>
                </div>
            </div>
            <script type="application/javascript">
                var ctx = location.origin;
                $("div#main").ready(function () {
                    $('pre code').each(function (_, block) {
                        hljs.highlightBlock(block);
                    });
                });
            </script>
            <div id="sidebar" style="margin-top: 10px;">
                <h1>文章目录</h1>
                <ul class="sidemenu" id="sides">
                    <noscript style="padding-left: 3px;">JavaScript code support is required.</noscript>
                </ul>
            </div>
            <!--End content-wrap-->
        </div>
        <!--<script src="/assets/js/jquery.xpath.js"></script>-->
        <script>
        //$(document).ready(function () {
        //    $(htmlStr).insertAfter($("div#content < imageSetting.insertAfter || '' >").get(< imageSetting.nodeIndex>));
        //});
        </script>
        <!-- Footer -->
        <% include footer.html %>
    <script>
                function slideMenu() {
                    var y = window.pageYOffset;
                    var bar = document.getElementById("sidebar");
                    bar.style = "margin-top: " + (10 - y > -120 ? 10 - y : -120) + "px";
                }
                window.addEventListener("scroll", slideMenu);
    </script>
    <script src="../js/slider-main.js"></script>
</body>
</html>
<!--Slides-->
